@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');

/*.accordion {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  color: rgba(26,26,26,.7);
  max-width: 1020px;
  margin: auto;
}*/

/*a {
  text-decoration: none;
  color: inherit;
}*/

/*p {
  font-size: 1.1em;
  margin: 1em 0;
}*/

/*i {
  border: solid black;
  border-width: 0 1.4px 1.4px 0;
  display: inline-block;
  padding: 6px;
  float: right;
}*/

/*i.up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}*/

/*i.down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}*/

/*.description {
  margin: 1em auto 2.25em;
}*/

/*body {
  width: 90%;
  margin: 1.5em auto;
  color: #333;
}*/
/*accordion "dynamic" styles*/

/*ul {
  list-style: none;
  padding: 0;
}*/

/*ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}*/

/*ul .inner.show {*/
  /*display: block;*/
/*}*/

/*ul li {
  margin: .5em 0;
}*/

/*ul li a.toggle {
  width: 99%;
  display: block;
  color: #4a4a4a;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2em;
}*/

/*hr {
    border: 0;
    border-top: 1px solid #edeeee;
    margin-left: 17px;
}*/

/*img {
  display: block;
  margin: auto;
}*/