@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');

/*accordion styles start*/

.accordion {
  margin: auto;
  width: 90%;
  max-width: 1020px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

a.toggle {
  text-decoration: none;
  color: inherit;
}

/*accordion arrow styles start*/

.toggle i {
  border: solid black;
  border-width: 0 1.4px 1.4px 0;
  display: inline-block;
  padding: 6px;
  float: right;
}

.toggle i.up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.toggle i.down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/*accordion sliding styles*/

.faq-contents {
  color: black;
}

.faq-contents p {
  font-size: 1.1em;
  margin: 1em 0;
}

.faq-contents ul {
  list-style: none;
  padding: 0;
}

.description {
  margin: 1em auto 2.25em;
}

ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul .inner.show {
  /*display: block;*/
}

ul li {
  margin: .5em 0;
}

.faq-contents ul li {
  color: black;
}

ul li a.toggle {
  width: 99%;
  display: block;
  color: #4a4a4a;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2em;
}

hr {
    border: 0;
    border-top: 1px solid #edeeee;
    margin-left: 17px;
}

img {
  display: block;
  margin: auto;
}