@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');

/*accordion styles start*/

.accordion {
  margin: auto;
  max-width: 1020px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

a.toggle {
  text-decoration: none;
  color: inherit;
  outline: none;
  margin-right: 35px;
  font-weight: 400;
}

/*accordion arrow styles start*/

.toggle i {
  border: solid black;
  border-width: 0 1.4px 1.4px 0;
  display: inline-block;
  padding: 6px;
  float: right;
  margin-right: -35px;
}

.toggle i.up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.toggle i.down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/*accordion sliding styles*/

.faq-contents, .faq-contents ul li span {
  color: #4a4a4a;
  list-style-type: circle;
  font-weight: 200;
}

.faq-contents ul li {
  list-style-type: disc;
  margin-left: 40px;
}

.faq-contents ul {
  list-style: none;
  padding: 0;
}

.description {
  margin: 1em auto 2.25em;
}

ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul li {
  margin: .5em 0;
}

ul li a.toggle {
  display: block;
  color: #4a4a4a;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2em;
}

hr {
  border: 0;
  border-top: 1px solid #edeeee;
  margin-left: 17px;
}

img {
  display: block;
  margin: auto;
}

@media only screen and (max-device-width: 600px) {
  ul .inner {
    width: 84.5%;
    line-height: 1.4em;
  }
  ul li a.toggle {
    line-height: 1.5em;
  }
  
  ul .inner, ul li a.toggle {
    font-size: 16px;
  }
  img {
    display: none;
    visibility: hidden;
  }
  .toggle i {
    margin-right: -25px;
  }
}