html.regular, body.regular {
  margin: 0;
  padding: 0;
}

*.regular {
  box-sizing: border-box;
}

.slider {
    width: 100%;
    margin: 100px auto;
    margin-top: 30px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  /*opacity: .2;*/
}

.slick-summary-title {
  margin: 0px;
  text-align: center;
  /*opacity: .2;*/
}


/*.slick-active {
  opacity: .5;
}*/