html.regular, body.regular {
  margin: 0;
  padding: 0;
}

*.regular {
  box-sizing: border-box;
}

.slider {
    width: 100%;
    margin: 100px auto;
    margin-top: 0px;
}

.slick-slide {
  margin: 0px 20px;
  outline: none;
  transition: all ease-in-out .3s;
}

.slick-slide img {
  width: 100%;
}

/*MOBILE SLIDER*/

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 20px;
  height: 500px;
}

.slick-summary-description {
  font-size: 13px;
  line-height: 1.4em;
  margin: 0 -15px;
  text-align: center;
}
.slick-prev, .slick-next {
    top: 10%;
}

/*DESKTOP SLIDER*/

@media screen and (min-width: 480px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    position: relative;
  }
  .slick-prev:before {
    right: 20px;
  }
  .slick-next:before {
    left: 20px;
  }
  .slick-summary-description {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .slider {
      margin-top: 15px;
  }
  .slick-prev, .slick-next {
      top: 50%;
  }
}

.slick-summary-title {
  margin: 0px;
  text-align: center;
}