html.regular, body.regular, html.partners, body.partners, {
  margin: 0;
  padding: 0;
}

*.regular, *.partners {
  box-sizing: border-box;
}

.slider {
    width: 95%;
    margin: 100px auto;
    margin-top: 0px;
}

.slick-slide {
  margin: 0px 20px;
  outline: none;
  transition: all ease-in-out .3s;
}

/*MOBILE SLIDER*/

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 20px;
  height: 500px;
  letter-spacing: 1px;
}

.slick-summary-description {
  font-size: 13px;
  line-height: 1.4em;
  margin: 0 -15px;
  text-align: center;
}
.slick-prev, .slick-next {
    top: 20%;
}

.slick-summary-title {
  margin: 0 -20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1em;
}
.slick-slide img {
  width: 100%;
  max-width: 200px;
  margin: auto;
}

@media screen and (max-width: 599px) {

  /*.slick-slide img {
    display: block;
    margin: 0 auto;
  }*/
}

/*DESKTOP SLIDER*/

@media screen and (min-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    position: relative;
  }
  .slick-prev:before {
    right: 20px;
  }
  .slick-next:before {
    left: 20px;
  }
  .slick-summary-description {
    font-size: 16px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .slider {
      margin-top: 15px;
  }
  .slick-prev, .slick-next {
      top: 50%;
  }
  .slick-summary-title {
    font-size: 25px;
    letter-spacing: 1px;
  }
  /*.slick-slide img {
      /*display: block;
      margin: 0 auto;
  }*/
}